################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

python-rest/.vs

python-rest/coinapi_rest_v1/__pycache__